html, body{
    margin: 0;
    padding: 0;
}
.g-title{
    padding-left: 50px !important;
}
.links{
    padding-right: 50px !important;
}
.info{
    margin-top: 5rem;
    padding: 25px 25px 0 25px;
    word-spacing: 2px !important;
}
.info2{
    display: flex;
    flex: wrap;
    flex-direction: column;
}