html, body{
    margin: 0;
    padding: 0;
}
.g-title{
    padding-left: 50px !important;
}
.links{
    padding-right: 50px !important;
}
.img{
    border-bottom: 1px solid black !important;
}
.parallax-btn:hover {
    color: white;
    background-color: Transparent !important;
    border: 2px solid white;
    border-radius: 3px;
    opacity: 1;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.info{
    margin-top: 5rem;
    padding: 2.5rem 1rem 2.5rem 1rem;
    word-spacing: 2px !important;
    border-bottom: 1px solid black !important;
}
.info2{
    display: flex;
    flex: wrap;
    flex-direction: column;
    padding-top: 1.5rem;
}
.info3{
    display: flex;
    padding-top: 3rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
}