html, body{
    margin: 0;
    padding: 0;
    font-family: 'Karma', serif;
}
nav{
    font-family: 'Karma', serif;
}
.g-title{
    padding-left: 50px !important;
}
.links{
    padding-right: 50px !important;
}
.parallax-container{
    font-family: 'Karma', serif;
    height: 50%;
    padding-top: 5.5rem;
    padding-bottom: 7.5rem;
}
.img{
    border-bottom: 1px solid black !important;
}
.parallax-text1{
    font-size: 1.3rem;
}
.parallax-btn:hover {
    color: white;
    background-color: Transparent !important;
    border: 2px solid white;
    border-radius: 3px;
    opacity: 1;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.info{
    margin-top: 5rem;
    padding: 2rem 15rem 5rem 15rem;
    border-bottom: 1px solid black !important;
    font-family: 'Karma', serif;
    box-sizing: content-box;
}
.infoP2{
    margin-top: 5rem;
    padding: 2rem 5rem 5rem 5rem;
    border-bottom: 1px solid black !important;
    font-family: 'Karma', serif;
    box-sizing: content-box;
}
.info2{
    display: flex;
    flex: wrap;
    flex-direction: column;
    margin-top: 6rem;
    padding-right: 2rem;
    margin-bottom: 6rem;
    padding-left: 2rem;
    font-family: 'Karma', serif;
}
.info3{
    display: flex;
    padding-top: 3rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
    padding-left: 5rem;
    /* font-family: 'Karma', serif; */
}
.types{
    padding-bottom: 1.2rem;
}
.services{
    padding-bottom: 1.2rem;
}
.resources{
    padding-bottom: 1rem;
}
.help-with-grant-writing-section{
    font-size: 1.2rem;
    background-color: #DFDFDF;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}
.icon{
    font-size: 2rem !important;
    padding-left: 1rem !important;
}
.blog-grant-writing-info-mobile{
    margin-top: 5.5rem;
    margin-bottom: 5.5rem;
}
.blog-grant-writing-info-desktop{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5.5rem;
    margin-bottom: 5.5rem;
}
.gw-contracts-desktop, .gw-prospect-research-desktop, .gw-federal-and-state-desktop, .gw-proofreading-and-writing-desktop, .gw-consultations-desktop, .gw-development-desktop{
    display: flex;
    padding-right: 3%;
    padding-left: 3%;
}
..gw-contracts-desktop{
    padding-right: 0;
}
.gw-prospect-research-desktop{
    padding-left: 1%;
    padding-right: 5%;
}
.gw-federal-and-state-desktop{
    padding-left: 0;
}
.gw-proofreading-and-writing-desktop{
    padding-right: 10%;
}
.section-one{
    display: flex;
    flex-direction: row;
    margin-right: 3.5rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
}
.section-two{
    display: flex;
    flex-direction: row;
    margin-right: 3.5rem;
    margin-left: 2rem;
}
.gw-icon-two{
    padding-right: 2rem;
}
hr{
    width: 1.5rem;
}
.gw-percentages-desktop{
    display: flex;
    justify-content: space-around;
}
.gw-client-mobile-section{
    margin-top: 5.5rem;
}
.carousel{
    padding: 10rem;
}
.gw-client-title{
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.title-footer-info-mobile{
    padding: 3rem;
}
.gw-social-media{
    padding-bottom: 3.5rem;
}
.gw-search-bar{
    padding-bottom: 2.5rem;
}
.gw-sign-up-text{
    padding-right: 2.5em;
    padding-left: 2.5rem;
}
.gw-twitter-feed{
    padding: 1rem;
}